:root {
  --primario: #c63c6a;
  --secundario: #2f326b;
  --secundario-claro: #94aedb;
  --terciario: #c74e31;
  --terciario-claro: #e3adad;
  --background: rgba(234, 174, 172, 0.39);
}




.button--unete{
  border: 1px solid var(--primario);
  background-color: var(--primario);
  }
.button--axuda{
  border: 1px solid var(--primario);
  color: var(--primario);
  }

.social-link .button{
  padding: 0 12px;

}
/*.button--rename {
  background-color: var(--secundario);
}
.button--delete {
  background-color: var(--terciario);
}
.button:hover {
  background-color: var(--primario);
  border: 1px solid var(--primario);
}
