:root {
  --primario: #c63c6a;
  --secundario: #2f326b;
  --secundario-claro: #94aedb;
  --terciario: #c74e31;
  --terciario-claro: #e3adad;
  --background: rgba(234, 174, 172, 0.39);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  color: black;
  background-color: var(--background);
}

header {
  background-color: var(--primario);
  color: #ffffff;
  border-bottom: 1px solid black;
  margin-bottom: 70px;
  padding-top: 20px;
}
#header-logo img {
  max-width: 360px;
  width: 100%;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
}
.header-link a {
  padding: 0px 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  color: white;
}

#comunidade {
  margin: 0 10px 70px 10px;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
#comunidade .text p {
  text-align: justify;
  font-size: 15px;
}
.uppercase {
  text-transform: uppercase;
}
.mais {
  background-color: var(--secundario);
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--secundario);
  text-decoration: none;
}
.mais:hover {
  color: var(--secundario);
  background-color: transparent;
}

#mision {
  background-color: var(--primario);
  margin: 0 10px 70px 10px;
  border-radius: 50px;
}
.demo-icon {
  visibility: hidden;
}
.megafono {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}
.megafono img {
  margin-top: 20px;
}
#mision .text {
  color: white;
}
#mision h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.nos {
  background-color: var(--secundario);
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--secundario);
  text-decoration: none;
}
.nos:hover {
  color: var(--secundario);
  background-color: whitesmoke;
}
#mision span {
  display: flex;
  justify-content: flex-end;
}

#secciones {
  margin: 0 10px 70px 10px;
}
#secciones h2 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}
#secciones p,
#secciones li {
  color: #666666;
  font-size: 16px;
}
#secciones p {
  font-weight: 600;
  margin: 0px;
}
#secciones ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#secciones img {
  width: 300px;
  height: auto;
}
#seccion-asesoramento,
#seccion-axuda,
#seccion-sororidade {
  text-align: center;
  margin-top: 30px;
}

#mosaico {
  background-image: url("../imagenes/mosaico-mujeres.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: 70px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.conocer {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid var(--secundario);
  background-color: var(--secundario);
  color: white;
}
.conocer:hover {
  color: var(--secundario);
  background-color: transparent;
}

#boxes {
  margin: 0 10px 70px 10px;
}
#boxes h2 {
  font-size: 30px;
  font-weight: 600;
}
#boxes p {
  font-size: 12px;
}
.boxes {
  max-width: fit-content;
  margin: 0 auto;
}
.boxes h2 {
  margin-top: 0px;
  color: white;
}
.boxes p {
  margin-top: 0px;
  margin-bottom: 0px;
}
#box-azul p {
  color: var(--terciario);
}
#box-rosa p {
  color: white;
}
#box-naranja p {
  color: var(--secundario);
}
#box-azul {
  max-width: 150px;
  border: 1px solid var(--secundario);
  background-color: var(--secundario);
  border-radius: 15px;
  padding: 40px 15px;
  margin-top: 25px;
  margin-left: 85px;
}
#box-rosa {
  max-width: 120px;
  border: 1px solid var(--terciario-claro);
  background-color: var(--terciario-claro);
  border-radius: 15px;
  padding: 25px 20px 20px 25px;
  margin-top: -30px;
}
#box-naranja {
  max-width: 110px;
  border: 1px solid var(--terciario);
  background-color: var(--terciario);
  border-radius: 15px;
  padding: 20px 20px 10px 10px;
  margin-left: 195px;
  margin-top: -15px;
}

footer {
  background-color: var(--secundario);
  color: white;
  text-align: center;
  padding: 15px 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
footer h2 {
  margin: 20px auto;
}
#footer-contact {
  list-style: none;
  padding: 0px;
}
.footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
#footer-links {
  max-width: 360px;
  font-size: 15px;
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
#footer-links a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.unete {
  border: 1px solid var(--primario);
  background-color: var(--primario);
  color: white;
}
.unete:hover {
  background-color: transparent;
}
.axuda {
  border: 3px solid var(--primario);
  color: white;
}
.axuda:hover {
  background-color: var(--primario);
}
#legal-links {
  padding: 0px;
}
.legal {
  background-color: transparent;
  list-style: none;
}
#legal-social-links a {
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}
#legal-social-links a:hover {
  color: var(--primario);
}
#social-links {
  font-size: 30px;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    margin-bottom: 130px;
  }
  .header-link a {
    font-size: 25px;
  }

  #comunidade {
    display: flex;
    justify-content: center;
    max-width: 2200px;
    margin: 0 auto 250px auto;
  }
  h1 {
    font-size: 80px;
  }
  #comunidade .text {
    border: 1px solid red;
    max-width: 950px;
    width: 100%;
    position: relative;
  }
  .mulleres {
    border: 1px solid blue;
    max-width: 1170px;
    width: 100%;
    display: block;
  }
  #comunidade .text p {
    max-width: 500px;
    font-size: 20px;
  }
  .mais {
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 30px;
    position: absolute;
    bottom: -80px;
  }

  #mision {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto 160px auto;
    position: relative;
    padding-top: 40px;
  }

  .icon-stop {
    position: absolute;
    color: var(--secundario-claro);
    font-size: 65px;
    left: -50px;
    top: -30px;
    visibility: visible;
  }
  .white {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 620px;
    visibility: visible;
  }
  /*.orange {
    position: absolute;
    color: white;
    visibility: visible;
    font-size: 150px;
    right: -100px;
    top: 0;
  }*/
  .circulo {
    height: 110px;
    width: 110px;
    border-radius: 70px;
    border: 3px solid white;
    position: absolute;
    top: 25px;
    right: -45px;
  }
  .icon-circle {
    position: absolute;
    visibility: visible;
    color: white;
    font-size: 90px;
    right: -90px;
    top: 90px;
  }
  /* .icon-cancel {
    position: absolute;
    visibility: visible;
    color: var(--secundario);
    font-size: 90px;
    right: -60px;
    top: 165px;
  }*/
  .cruz1 {
    position: absolute;
    visibility: visible;
    width: 70px;
    border-top: 7px solid var(--secundario);
    font-size: 90px;
    right: -27px;
    top: 235px;
    transform: rotate(-45deg);
  }
  .cruz2 {
    position: absolute;
    visibility: visible;
    width: 70px;
    border-top: 7px solid var(--secundario);
    font-size: 90px;
    right: -27px;
    top: 235px;
    transform: rotate(45deg);
  }
  .icon-play {
    position: absolute;
    visibility: visible;
    color: var(--secundario);
    font-size: 220px;
    bottom: -80px;
    left: -130px;
    transform: rotate(-15deg);
  }
  .megafono {
    max-width: 600px;
    width: 100%;
    margin: 100px 0 100px auto;
  }
  .megafono img {
    max-width: 450px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  #mision .text {
    max-width: 600px;
    margin: 50px auto;
  }
  #mision h2 {
    font-size: 80px;
    margin: 0;
    text-align: left;
  }
  #mision .text p {
    max-width: 400px;
    font-size: 20px;
  }
  #mision span {
    margin-right: -40px;
    margin-top: 40px;
  }
  .nos {
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 30px;
  }

  #secciones {
    display: flex;
    max-width: 1500px;
    margin: 0 auto 200px auto;
  }
  #secciones section {
    max-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 0px 100px;
  }
  #secciones p,
  #secciones li {
    font-size: 20px;
  }
  #seccion-asesoramento,
  #seccion-axuda,
  #seccion-sororidade {
    text-align: left;
  }

  #mosaico {
    padding-top: 430px;
    padding-bottom: 430px;
    margin-bottom: 100px;
  }
  .conocer {
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 30px;
  }

  #boxes {
    max-width: 1200px;
    display: flex;
    margin: 0 auto 330px auto;
  }
  #boxes div {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }
  #boxes h2 {
    font-size: 60px;
  }
  #boxes p {
    font-size: 20px;
  }
  #boxes .text p {
    max-width: 500px;
    margin-bottom: 70px;
  }
  #boxes .text {
    position: relative;
  }
  .boxes {
    /*min-height: 300px;*/
    position: relative;
    max-width: 600px;
  }
  #box-azul {
    max-width: 280px;
    position: absolute;
    left: 60px;
    padding: 50px 40px;
  }
  #box-rosa {
    max-width: 250px;
    padding: 25px 30px 50px 30px;
    position: absolute;
    top: 265px;
    left: -20px;
  }
  #box-naranja {
    max-width: 250px;
    padding: 25px 0px 20px 20px;
    position: absolute;
    bottom: -30px;
    right: 0px;
  }

  footer {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  footer h2 {
    font-size: 80px;
    font-weight: 600;
    margin: 60px auto;
  }
  #footer-contact {
    max-width: 820px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-contact a {
    font-size: 35px;
  }
  #footer-links {
    max-width: 820px;
    margin: 60px auto 80px auto;
  }
  #footer-links a {
    font-size: 30px;
    padding: 15px 60px;
    border-radius: 40px;
  }
  .axuda {
    border: 6px solid var(--primario);
  }
  #legal-links {
    margin: 0 auto;
    display: flex;
  }
  #legal-links a {
    font-size: 25px;
    font-weight: 300;
  }
  #legal-social-links {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
  }
  #social-links {
    position: absolute;
    right: 0;
  }
  #legal-social-links a {
    padding: 16px;
  }
}
